<header>
    <nav class="navbar navbar-expand-sm border-bottom mb-2" >
    <div class="container">
        <a class="navbar-brand" routerLink="/product-list" ><img src="assets/img/logo2.png"></a>
       
        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link" routerLink="/product-list">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" mat-button routerLink="/cart">Shopping Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" mat-button routerLink="/myProfile">My Profile</a>
                </li>
              </ul>
            <form class="form-inline my-2 my-lg-0">
                <a mat-button (click)="logout()">Logout</a>
            </form>
        </div>
    </div>
</nav>
</header>

<div class="container">
    <div *ngIf="missingRequiredField">
        <h5 class="alert alert-warning">There are some fields missing. Field with * is required.</h5>
    </div>   
<form (ngSubmit)="onSubmit()" method="post">
    <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="static-1">
        <ngb-panel id="static-1" title="Order Summary">
            <ng-template ngbPanelContent>
                    <div class="col-xs-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <button mat-raised-button type="submit" class="btn-block mat-primary">Place your order</button>
                                    <p style="font-size: smaller">By placing your order, you agree to conditions of use.</p>
                                    <hr />
                                    <h3>Order Summary</h3>
                                    <div class="row">
                                        <div class="col-xs-7 text-left">
                                            Total before tax:
                                        </div>
                                        <div class="col-xs-5 text-right">
                                            R
                                            <span>{{shoppingCart.grandTotal}}</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-7 text-left">
                                            Estimated tax:
                                        </div>
                                        <div class="col-xs-5 text-right">
                                            R<span>{{shoppingCart.grandTotal * 0.15 | number : '1.2-2'}}</span>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-xs-7 text-left">
                                            <h3 style="color: darkred;"><strong>Order Total:  </strong></h3>
                                        </div>
                                        <div class="col-xs-5 text-right">
                                            <h3><strong style="color: darkred;">
                                    R<span>{{shoppingCart.grandTotal | number : '1.2-2'}}</span>
                                    </strong></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
            </ng-template>  
        </ngb-panel>
        <ngb-panel id="static-2" title="Click For Change of Delivery Address">
            <ng-template ngbPanelContent>
                    <div class="panel panel-default">
                            <div class="panel-body">
                                <table class="table" *ngIf="!emptyDeliveryList">
                                    <thead>
                                        <tr>
                                            
                                                <th>Available Delivery Address</th>
                                                <th>Operation</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="color:goldenrod;" *ngFor="let userDelivery of userDeliveryList">
                                            <td>
                                                {{userDelivery.userDeliveryStreet}}, {{userDelivery.userDeliveryCity}}, {{userDelivery.userDeliveryPostalCode}}
                                            </td>
                                            <td >
                                                <a class="pointer" (click)="setDeliveryAddress(userDelivery)">Use this address</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr/>
                                <div class="form-group">
                                    <label for="deliverygaddress">* Delivery Address</label>
                                    <input type="text" class="form-control" id="deliveryAddress" placeholder="Delivery Address" name="deliveryAddress" required="required" [(ngModel)]="deliveryAddress.deliveryAddress" />
                                </div>
                                <div class="form-group">
                                    <label for="deliveryAddress">* Street Address</label>
                                    <input type="text" class="form-control" id="deliveryAddress" placeholder="Street Address " name="deliveryAddressStreet" required="required" [(ngModel)]="deliveryAddress.deliveryAddressStreet" />
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="deliveryCity">* City</label>
                                            <input type="text" class="form-control" id="deliveryCity" placeholder="Your Delivery City" name="deliveryAddressCity" required="required" [(ngModel)]="deliveryAddress.deliveryAddressCity" />
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="deliveryProvince">* Province</label>
                                            <select id="deliveryProvince" class="form-control" name="deliveryAddressProvince" [(ngModel)]="deliveryAddress.deliveryAddressProvince" required="required">
                                                <option value="" disabled>-- province --</option>
                                                <option *ngFor="let province of provinceList">{{province}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="deliveryPostalCode">* Postal Code</label>
                                            <input type="text" class="form-control" id="deliveryAddressPostalCode" placeholder="Postal Code" name="deliveryAddressPostalCode" required="required" [(ngModel)]="deliveryAddress.deliveryAddressPostalCode" />
                                        </div>
                                    </div>
                                </div>
                                <button type="button" style="margin-left: 39%;" class="btn btn-outline-success" (click)="acc.toggle('static-3')"><b>Proceed to pay</b></button>
                            </div>
                        </div>
            </ng-template>  
        </ngb-panel>
        <ngb-panel ngb-panel id="static-3" title="Payment Information">
            <ng-template ngbPanelContent>
                    <div class="panel panel-default">
                            <div class="panel-body">
                                <table class="table" *ngIf="!emptyPaymentList">
                                    <thead>
                                        <tr>
                                            
                                                <th>Available Credit Card</th>
                                                <th>Operation</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="color:goldenrod;" *ngFor="let userPayment of userPaymentList">
                                            <td>
                                                {{userPayment.cardName}}
                                            </td>
                                            <td>
                                                <a class="pointer" (click)="setPaymentMethod(userPayment)">Use this payment</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr/>
                                <!-- Credit Card Info -->
                                <div class="row">
                                    <div class="col-xs-12">
                                        <img src="assets/img/creditcard.png" class="img-responsive" />
                                        <br>
                                        <div class="form-group">
                                            <label for="cardType">* Select Card Type</label>
                                            <select id="cardType" class="form-control" name="cardType" [(ngModel)]="userPayment.type" required="required">
                                                <option value="" disabled>-- Card Type --</option>
                                                <option value="cheque">Cheque</option>
                                                <option value="credit">Credit</option>
                                                <option value="debt">Debt</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="cardHolder">* Card Holder</label>
                                            <input type="text" class="form-control" id="cardholder" placeholder="Card Holder Name" name="cardHolderName" required="required" [(ngModel)]="payment.holderName" />
                                        </div>
                                        <div class="form-group">
                                            <label for="cardNumber">* Card Number</label>
                                            <div class="input-group">
                                                <input required="required" id="cardNumber" type="tel" class="form-control" name="cardNumber" placeholder="Valid Card Number" [(ngModel)]="payment.cardNumber" />
                                                <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-7">
                                        <div class="form-group">
                                            <label>* Expiration Date</label>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <select class="form-control" name="expiryMonth" required="required" [(ngModel)]="payment.expiryMonth">
                                                        <option value="" disabled="disabled">
                                                            -- Month --
                                                        </option>
                                                        <option value="1">Jan (01)</option>
                                                        <option value="2">Feb (02)</option>
                                                        <option value="3">Mar (03)</option>
                                                        <option value="4">Apr (04)</option>
                                                        <option value="5">May (05)</option>
                                                        <option value="6">Jun (06)</option>
                                                        <option value="7">July (07)</option>
                                                        <option value="8">Aug (08)</option>
                                                        <option value="9">Sep (09)</option>
                                                        <option value="10">Oct (10)</option>
                                                        <option value="11">Nov (11)</option>
                                                        <option value="12">Dec (12)</option>
                                                    </select>
                                                </div>
                                                <div class="col-xs-6">
                                                    <select class="form-control" name="expiryYear" required="required" [(ngModel)]="payment.expiryYear">
                                                        <option value="" disabled="disabled">
                                                            -- Year --
                                                        </option>
                                                        <option value="19">2019</option>
                                                        <option value="20">2020</option>
                                                        <option value="21">2021</option>
                                                        <option value="22">2022</option>
                                                        <option value="23">2023</option>
                                                        <option value="24">2024</option>
                                                        <option value="25">2025</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-5 pull-right">
                                        <div class="form-group">
                                            <label for="cardCVC">CV Code</label>
                                            <input id="cardCVC" type="tel" class="form-control" name="cardCVC" placeholder="CVC" [(ngModel)]="payment.cvc" />
                                        </div>
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input id="theSameAsDeliveryAddress" type="checkbox" name="billingSameAsDelivery" value="true" (click)="setBillingAsDelivery($event.target.checked)" />The same as Delivery address
                                    </label>
                                </div>
                                <!-- Billing Address -->
                                <div class="form-group">
                                    <label for="billingAddress">* Home Address</label>
                                    <input type="text" class="form-control" id="billingAddress" placeholder="Home Address" name="billingAddress" required="required" [(ngModel)]="billingAddress.billingAddress" />
                                </div>
                                <div class="form-group">
                                    <label for="billingAddress">* Street Address</label>
                                    <input type="text" class="form-control" id="billAddress" placeholder="Street Address " name="billingAddressStreet" required="required" [(ngModel)]="billingAddress.billingAddressStreet" />
                                </div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="billingCity">* City</label>
                                            <input type="text" class="form-control" id="billingAddressCity" placeholder="Your City" name="billingAddressCity" required="required" [(ngModel)]="billingAddress.billingAddressCity" />
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="billingProvince">* Province</label>
                                            <select id="billingProvince" class="form-control" name="billingAddressProvince" [(ngModel)]="billingAddress.billingAddressProvince" required="required">
                                                <option value="" disabled>-- province --</option>
                                                <option *ngFor="let province of provinceList">{{province}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="form-group">
                                            <label for="billingPostalCode">* Postal Code</label>
                                            <input type="text" class="form-control" id="billingAddressPostalCode" placeholder="Postal Code" name="billingAddressPostalCode" required="required" [(ngModel)]="billingAddress.billingAddressPostalCode" />
                                        </div>
                                    </div>
                                </div>
                                <button type="button" style="margin-left: 39%;" class="btn btn-outline-success" (click)="acc.toggle('static-3')"><b>Proceed to pay</b></button>
                            </div>
                        </div>
           </ng-template>  
        </ngb-panel>
        <ngb-panel ngb-panel id="static-4" title="Review Items">
            <ng-template ngbPanelContent>
            
                    <table  class="table table-bordered row-border hover" style="width:100%">
                            <thead class="text-center ">
                            <tr>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cartItem of cartItemList" class="text-center">
                                      <td>
                                            <div class="col-xs-6">
                                                    <a class="pointer" (click)="onSelect(cartItem.product)">
                                                        <h4>{{cartItem.product.productName}}</h4></a>
                                                    <p *ngIf="cartItem.product.inStockNumber < 10 && cartItem.product.inStockNumber > 0" style="color:green;">Only <span>{{cartItem.product.inStockNumber}}</span> In Stock</p>
                                                    <p *ngIf="cartItem.product.inStockNumber == 0" style="color:darkred;">Product Unavailable</p>
                                                    <a class="pointer" (click)="onRemoveCartItem(cartItem)">delete</a>
                                                </div> 
                                      </td>  
                                      <td>
                                            <div class="col-xs-2">
                                                    <h5 style="color:#db3208; font-size:large;">R<span [ngClass]="{'text-strike': cartItem.product.inStockNumber == 0}">{{cartItem.product.price}}</span>
                                                    </h5>
                                            </div>
                                      </td>
                                      <td>
                                            <div class="col-xs-2 text-center">
                                                    <h5 style="font-size: large">{{cartItem.qty}}</h5>
                                            </div>
                                      </td>
                                </tr>
                            </tbody>
                            </table>
                            <div class="row">
                                    <hr />
                                    <h4 class="col-xs-12 text-right"><strong style="font-size: large">Total Price (<span>{{cartItemNumber}}</span> items): </strong><span style="color:#db3208;font-size: large">R <span>{{shoppingCart.grandTotal}}</span></span></h4>
                                    <br/><br/>
                                    <button mat-raised-button type="submit" class="btn-block mat-primary">Place your order</button>
                            </div>
            
            </ng-template>  
        </ngb-panel>
    </ngb-accordion>
</form>
</div>   