<header>
    <nav class="navbar navbar-expand-sm border-bottom mb-2" >
    <div class="container">
        <a class="navbar-brand" routerLink="/product-list" ><img src="assets/img/logo2.png"></a>
       
        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link" routerLink="/product-list">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" md-button routerLink="/product-list">Continue Shopping </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" md-button routerLink="/myProfile">My Profile</a>
                </li>
              </ul>
            <form class="form-inline my-2 my-lg-0">
                <a md-button (click)="logout()">Logout</a>
            </form>
        </div>
    </div>
</nav>

</header>
<div class="container">
    <div class="alert alert-success">
        <h3><i class="fa fa-check" style="color:limegreen;"></i> Thank you, your order details has been sent to your email.</h3>
    </div>
    <h3>List of Items</h3>
    <hr/>
    <table class="table table-bordered row-border hover" style="width:100%">
        <thead class="text-center ">
                <tr>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    
                    <th> Quantity</th>
                
                </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cartItem of cartItemList" class="text-center">
                <td>
                        <div class="col-xs-2">
                                <a md-button (click)="onSelect(cartItem.product)"><img class="img-responsive" src="{{serverPath}}/image/product/{{cartItem.product.id}}.png" style="width:70px;" /></a>
                            </div>
                </td>
                <td>
                    <div class="col-xs-6">
                        <a class="pointer" (click)="onSelect(cartItem.product)">
                            <h4>{{cartItem.product.productName}}</h4></a>
                    </div>
                </td>
                <td>
                    <div class="col-xs-2">
                        <h5 style="color:#db3208; font-size:large;">R<span >{{cartItem.product.price}}</span>
                        </h5>
                    </div>
                </td>
                <td>
                     <div class="col-xs-2 text-center">
                          <h5 style="font-size: large">{{cartItem.qty}}</h5>
                    </div>
                </td>
            </tr>
                      
        </tbody>
     </table>   
        
    </div>

