<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<header>
    <nav class="navbar navbar-expand-sm border-bottom mb-2" >
      <a class="navbar-brand" [routerLink]='["/home"]' ><img src="assets/img/logo2.png "></a>

      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-2">
          <li class="nav-item">
            <a class="nav-link " ><u>Login</u></a>
          </li>
          <li class="nav-item">
                <p class="nav-link">|</p>
            </li> 
          <li class="nav-item">
            <a class="nav-link text-white"  ><u>Sign up</u></a>
          </li>
  
        </ul>
      </div>
    </nav>
</header>
<div class="container">
<div class="wrapper" >

<p style="color:#828282;" id = "registerHeading">ENTER YOUR EMAIL TO RECOVERY PASSWORD</p>

<div class="alert alert-info" *ngIf="emailNotExists">Email doesn't exists.</div>
<div class="alert alert-success" *ngIf="forgetPasswordEmailSent">Email sent.</div>

<form (ngSubmit)="onForgetPassword()">

      <!-- E-mail -->  
    <div class="form-group">
            <label for="recoverEmail">Your Email Address *</label>
            <input type="email" class="form-control" id="recoverEmail" name="recoverEmail" [(ngModel)]="recoverEmail" required="required" >
            <p style="color:#828282;">Enter your registered email address.</p>  
     </div>

      <!-- Firstname 
      <div class="controls">
        <label class="control-label"  for="firstname">First Name</label>
        <input id="firstname" formControlName="firstname" type="text" class=" input-xlarge form-control" required >

    </div>

        Surname
       <div class="controls">
          <label class="control-label"  for="surname">First Name</label>
          <input id="surname" formControlName="surname" type="text" class=" input-xlarge form-control" required >

      </div>
    Phone
    <div class="controls">
        <label class="control-label"  for="phone">Contact No</label>
        <input id="phone" formControlName="phone" type="text" class=" input-xlarge form-control" required >

    </div>
  

       Password
      <div class="controls">
          <label class="control-label" for="password">Password</label>
          <input id="password" formControlName="password" type="password" class=" input-xlarge form-control" required>
          <div *ngIf="password.touched && password.errors" class="errorMessage">
              <span *ngIf="password.hasError('required')">Password is required.</span>
              <span *ngIf="password.hasError('maxlength')">Only 10 characters allowed for password.</span>
              <span *ngIf="password.hasError('minlength')">Atleast 5 characters needed for password.</span>
          </div>
      </div>

      Password Confirm 
    <div class="controls">
          <label class="control-label"  for="cpassword">Password (Confirm)</label>
          <input id="cpassword" formControlName="cpassword" type="password" class=" input-xlarge form-control" required>
          <div *ngIf="cpassword.touched && cpassword.errors" class="errorMessage">
              <span *ngIf="cpassword.hasError('required')">Confirm Password is required.</span>
              <span *ngIf="cpassword.hasError('mustMatch')">Password Must Match.</span>
          </div>
    </div>-->
 
    
      <!-- Button -->
      <div class="controls">
        <button id="register" type="submit"  class="btn btn-success">Register</button>
      </div>
    
</form>
</div>
</div>